.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container {
  width: calc(100vw - 15%);
  max-width: calc(100vw - 250px);
  height: 100vh;
}

.container-title {
  display: flex;
  justify-content: center;
}

.container-title > div {
  font-size: 2rem;
  margin: 20px 0;
}
